[tool.poetry]
name = "amazon-cryptographic-material-providers-test-vectors"
version = "0.1.0"
description = ""
authors = ["AWS Crypto Tools <aws-crypto-tools@amazon.com>"]
packages = [
    { include = "aws_cryptography_materialproviderstestvectorkeys", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.11.0"
# TODO-Python: Not sure why this is needed... I think boto3 uses 0.19.14, but it's not resolving on PyPI atm
awscrt = "^0.17.0"
boto3 = "^1.28.0"
aws-cryptographic-material-providers = { path = "../../../AwsCryptographicMaterialProviders/runtimes/python", develop = false}
# TODO: Depend on PyPi once Smithy-Python publishes their Python package there
smithy-python = { path = "../../../smithy-dafny/codegen/smithy-dafny-codegen-modules/smithy-python/python-packages/smithy-python", develop = false}
standard-library = { path = "../../../StandardLibrary/runtimes/python", develop = false}

[tool.poetry.group.test.dependencies]
pytest = "^7.4.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
