.idea/*
.vscode/*
*.sln?*
**/.DS_Store
test/**/Output/*
/package-lock.json
/node_modules

# Build Artifacts
build
build/*
docs/build
/doc/generated/*

# Duvet output
specification_compliance_report.html

# VS Code local history
/.history

*/**/.idea/
/compliance
/.smithy.lsp.log
*/**/Folder.DotSettings.user