.idea/*
.vscode/*
*.sln?*
**/.DS_Store
build/*
test/**/Output/*
/package-lock.json
node_modules
*.log

# Python docs build Artifacts
build
doc/build
AwsCryptographicMaterialProviders/runtimes/python/doc/generated/*

# Duvet output
specification_compliance_report.html

# VS Code local history
/.history

*/**/.idea/
/compliance
/.smithy.lsp.log
*/**/Folder.DotSettings.user