.idea/*
.vscode/*
*.sln?*
**/.DS_Store
build/*
test/**/Output/*
/package-lock.json
/node_modules
*.log

# Python docs build Artifacts
build
doc/build
AwsCryptographicMaterialProviders/runtimes/python/doc/generated/*

# Duvet output
specification_compliance_report.html

# VS Code local history
/.history

*/**/.idea/
/compliance
/.smithy.lsp.log
*/**/Folder.DotSettings.user

# Mostly ignored, but committed for release
# START_RELEASE_IGNORED_FILES
**/*py.dtr
# Ignore everything in ImplementationFromDafny-go
**/ImplementationFromDafny-go/**
# Un-ignore files containing "smithygenerated"
!**/ImplementationFromDafny-go/**/*smithygenerated*
# Un-ignore files containing "extern"
!**/ImplementationFromDafny-go/**/*extern*
# END_RELEASE_IGNORED_FILES