# Submodules that take care of their own specifications
aws-encryption-sdk-specification
libraries

# Runtime build objects
*/runtimes/java/build/*
*/runtimes/net/obj/*
*/runtimes/net/bin/*

# Dafny generated java
*/runtimes/java/src/*/dafny-generated/*

# The manifest files
test.json
keys.json

# The smithy model files
model.json

# Prettier fucks with the Beneration; disable it for benerated
ComAmazonawsKms/runtimes/java/src/main/smithy-generated/software/amazon/cryptography/services/kms/internaldafny/ToDafny.java
ComAmazonawsKms/runtimes/java/src/main/smithy-generated/software/amazon/cryptography/services/kms/internaldafny/ToNative.java
