# Python build artifacts
__pycache__
*.pyc
src/**.egg-info/
build
poetry.lock
**/poetry.lock
dist

# Python test artifacts
.tox
.pytest_cache

# Dafny Generated Python
# src/**/internaldafny/generated/*.py
# test/internaldafny/generated/*.py