# Python build artifacts
__pycache__
*.pyc
src/**.egg-info/
build
poetry.lock
**/poetry.lock
dist

# Python test artifacts
.tox
.pytest_cache

# Dafny Generated Java
src/**/internaldafny/generated
test/internaldafny/generated