# This workflow runs every weekday at 15:00 UTC (8AM PDT)
name: Daily CI

on:
  schedule:
    - cron: "00 15 * * 1-5"
  pull_request:
    paths:
      .github/workflows/daily_ci.yml
      
jobs:
  getVersions:
    # Don't run the cron builds on forks
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/dafny_versions.yaml
  daily-ci-format:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_format.yml
    with:
      dafny: ${{needs.getVersions.outputs.version}}
  daily-ci-codegen:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_codegen.yml
    with:
      dafny: ${{needs.getVersions.outputs.version}}
  daily-ci-verification:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_dafny_verification.yml
    with:
      dafny: ${{needs.getVersions.outputs.verifyVersion}}
  daily-ci-java:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_java_tests.yml
    with:
      dafny: ${{needs.getVersions.outputs.version}}
  daily-ci-net:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_net_tests.yml
    with:
      dafny: ${{needs.getVersions.outputs.version}}
  daily-ci-rust:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_rust_tests.yml
    with:
      dafny: ${{needs.getVersions.outputs.rustVersion}}
  daily-ci-python:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_python_tests.yml
    with:
      dafny: ${{needs.getVersions.outputs.version}}
  daily-ci-go:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_go_tests.yml
    with:
      dafny: ${{needs.getVersions.outputs.version}}
  daily-interop-test:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_interop_tests.yml
    with:
      dafny: ${{needs.getVersions.outputs.version}}
  daily-fuzz-interop-test:
    needs: getVersions
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/library_interop_tests.yml
    with:
      dafny: ${{needs.getVersions.outputs.version}}
      fuzz-testing: true
  notify:
    needs:
      [
        getVersions,
        daily-ci-format,
        daily-ci-codegen,
        daily-ci-verification,
        daily-ci-java,
        daily-ci-net,
        daily-ci-rust,
        daily-ci-python,
        daily-ci-go,
        daily-interop-test,
        daily-fuzz-interop-test,
      ]
    if: ${{ failure() && github.event_name == 'schedule' }}
    uses: ./.github/workflows/slack-notification.yml
    with:
      message: "Daily CI failed on `${{ github.repository }}`. View run: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_CI }}
