# This workflow performs tests in Java.
name: Library Java tests

on:
  workflow_call:
    inputs:
      dafny:
        description: "The Dafny version to run"
        required: true
        type: string
      regenerate-code:
        description: "Regenerate code using smithy-dafny"
        required: false
        default: false
        type: boolean

jobs:
  buildJava:
    strategy:
      fail-fast: false
      matrix:
        library: [TestVectorsAwsCryptographicMaterialProviders]
        os: [macos-latest]
        java-versions: [8]
    runs-on: ${{ matrix.os }}
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        shell: bash
    steps:
      - name: Support longpaths on Git checkout
        run: |
          git config --global core.longpaths true

      - uses: actions/checkout@v6
      # The specification submodule is private so we don't have access, but we don't need
      # it to verify the Dafny code. Instead we manually pull the submodules we DO need.
      - run: git submodule update --init libraries
      - run: git submodule update --init --recursive smithy-dafny

      - name: Setup Dafny
        uses: ./.github/actions/setup_dafny
        with:
          dafny-version: ${{ inputs.dafny }}

      - name: Install Smithy-Dafny codegen dependencies
        uses: ./.github/actions/install_smithy_dafny_codegen_dependencies

      - name: Regenerate code using smithy-dafny if necessary
        if: ${{ inputs.regenerate-code }}
        uses: ./.github/actions/polymorph_codegen
        with:
          dafny: ${{ env.DAFNY_VERSION }}
          library: ${{ matrix.library }}
          diff-generated-code: false

      - name: Setup Java 8, for complex reasons
        if: ${{matrix.java-versions != 8 }}
        uses: actions/setup-java@v5
        with:
          distribution: "corretto"
          java-version: 8
          cache: 'gradle'

      - name: Setup Java ${{matrix.java-versions}}
        uses: actions/setup-java@v5
        with:
          distribution: "corretto"
          java-version: ${{matrix.java-versions}}
          cache: 'gradle'

      - name: Build ${{ matrix.library }} implementation
        working-directory: ./${{ matrix.library }}
        run: |
          # This works because `node` is installed by default on GHA runners
          CORES=$(node -e 'console.log(os.cpus().length)')
          make build_java CORES=$CORES

      - name: Upload TestVector Build Artifacts
        uses: actions/upload-artifact@v6
        with:
            name: TestVectorsAwsCryptographicMaterialProviders-generated-code-java-${{github.sha}}
            path: TestVectorsAwsCryptographicMaterialProviders/runtimes/java/

      - name: Upload MPL Build Artifacts
        uses: actions/upload-artifact@v6
        with:
            name: AwsCryptographicMaterialProviders-generated-code-java-${{github.sha}}
            path: AwsCryptographicMaterialProviders/runtimes/java/

      - name: Upload Primitives Build Artifacts
        uses: actions/upload-artifact@v6
        with:
            name: AwsCryptographyPrimitives-generated-code-java-${{github.sha}}
            path: AwsCryptographyPrimitives/runtimes/java/

      - name: Upload KMS Build Artifacts
        uses: actions/upload-artifact@v6
        with:
            name: ComAmazonawsKms-generated-code-java-${{github.sha}}
            path: ComAmazonawsKms/runtimes/java/

      - name: Upload DDB Build Artifacts
        uses: actions/upload-artifact@v6
        with:
            name: ComAmazonawsDynamodb-generated-code-java-${{github.sha}}
            path: ComAmazonawsDynamodb/runtimes/java/

      - name: Upload STD Build Artifacts
        uses: actions/upload-artifact@v6
        with:
            name: StandardLibrary-generated-code-java-${{github.sha}}
            path: StandardLibrary/runtimes/java/

  testJava:
    needs: buildJava
    strategy:
      fail-fast: false
      matrix:
        library: [
            AwsCryptographyPrimitives,
            ComAmazonawsKms,
            ComAmazonawsDynamodb,
            AwsCryptographicMaterialProviders,
            StandardLibrary,
          ]
        os: [
            # TODO just test on mac and ubuntu for now
            # windows-latest,
            ubuntu-22.04,
            macos-14,
          ]
        java-versions: [8, 11, 17, 19]
    runs-on: ${{ matrix.os }}
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        shell: bash
    steps:
      - name: Support longpaths on Git checkout
        run: |
          git config --global core.longpaths true
      # KMS and MPL tests need to use credentials which can call KMS
      - name: Configure AWS Credentials for Tests
        uses: aws-actions/configure-aws-credentials@v5
        if: matrix.library == 'ComAmazonawsKms' || matrix.library == 'ComAmazonawsDynamodb' || matrix.library == 'AwsCryptographicMaterialProviders' || matrix.library == 'TestVectorsAwsCryptographicMaterialProviders'
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::370957321024:role/GitHub-CI-MPL-Dafny-Role-us-west-2
          role-session-name: JavaTests

      - uses: actions/checkout@v6
      # The specification submodule is private so we don't have access, but we don't need
      # it to verify the Dafny code. Instead we manually pull the submodules we DO need.
      - run: git submodule update --init libraries
      - run: git submodule update --init --recursive smithy-dafny

      - name: Setup Dafny
        uses: ./.github/actions/setup_dafny
        with:
          dafny-version: ${{ inputs.dafny }}

      - name: Setup Java 8, for complex reasons
        if: ${{matrix.java-versions != 8 }}
        uses: actions/setup-java@v5
        with:
          distribution: "corretto"
          java-version: 8
          cache: 'gradle'

      - name: Setup Java ${{matrix.java-versions}}
        uses: actions/setup-java@v5
        with:
          distribution: "corretto"
          java-version: ${{matrix.java-versions}}
          cache: 'gradle'
          
      - uses: actions/download-artifact@v7
        with:
          name: ${{matrix.library}}-generated-code-java-${{github.sha}}
          path: ${{matrix.library}}/runtimes/java/

      - name: Build ${{ matrix.library }} Test implementation
        working-directory: ./${{ matrix.library }}
        run: |
          # This works because `node` is installed by default on GHA runners
          CORES=$(node -e 'console.log(os.cpus().length)')
          make transpile_test_java CORES=$CORES

      - name: Test ${{ matrix.library }} on ${{matrix.java-versions}}
        working-directory: ./${{ matrix.library }}
        run: |
          make test_java
