# This workflow runs for every pull request
name: PR CI

on:
  pull_request:

jobs:
  getVersion:
    uses: ./.github/workflows/dafny_version.yaml
  getVerifyVersion:
    uses: ./.github/workflows/dafny_verify_version.yaml
  pr-ci-format:
    needs: getVersion
    uses: ./.github/workflows/library_format.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  pr-ci-codegen:
    needs: getVersion
    uses: ./.github/workflows/library_codegen.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  pr-ci-verification:
    needs: getVerifyVersion
    uses: ./.github/workflows/library_dafny_verification.yml
    with:
      dafny: ${{needs.getVerifyVersion.outputs.version}}
  pr-ci-java:
    needs: getVersion
    uses: ./.github/workflows/library_java_tests.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  pr-ci-examples:
    needs: getVersion
    uses: ./.github/workflows/library_examples.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  pr-ci-net:
    needs: getVersion
    uses: ./.github/workflows/library_net_tests.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  pr-ci-rust:
    needs: getVersion
    uses: ./.github/workflows/library_rust_tests.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  pr-ci-python:
    needs: getVersion
    uses: ./.github/workflows/library_python_tests.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  pr-ci-go:
    needs: getVersion
    uses: ./.github/workflows/library_go_tests.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  pr-interop-test:
    needs: getVersion
    uses: ./.github/workflows/library_interop_tests.yml
    with:
      dafny: ${{needs.getVersion.outputs.version}}
  pr-ci-all-required:
    if: always()
    needs:
      - getVersion
      - getVerifyVersion
      - pr-ci-format
      - pr-ci-codegen
      - pr-ci-verification
      - pr-ci-java
      - pr-ci-net
      - pr-ci-python
      - pr-ci-go
      - pr-ci-rust
      - pr-interop-test
      - pr-ci-examples
    runs-on: ubuntu--22.04
    steps:
      - name: Verify all required jobs passed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
